<nav id="sidebarMenu"
        class="collapse d-lg-block sidebar collapse ">
        <div class="position-sticky top-0">
          <div class="logo d-flex gap-3 align-items-center justify-content-center">
            <img src="./assets/Logo.svg" alt="">
            <p class="sidebar-title">كتابك</p>
          </div>
          <div class="d-flex flex-column justify-content-between mx-3 mt-4 h-80">
            <div class="list-group list-group-flush">
            <a
              href="#"
              class="list-group-item list-group-item-action d-flex align-items-center gap-2 p-1-5 ripple rounded-2"
              aria-current="true">
              <img src="./assets/Chart.svg" alt="">
              <span>الرئيسية</span>
            </a>
            <a
              href="#"
              class="list-group-item selected d-flex align-items-center gap-2 list-group-item-action p-1-5  ripple rounded-2"
              aria-current="true">
              <img src="./assets/Document.svg" alt="">
              <span>المواد الدراسية</span>
            </a>
          </div>
          <a class="d-flex align-items-center gap-2">
            <img src="./assets/exit 1.svg" alt="">
            <p class="logout">تسجيل الخروج</p>
          </a>
          </div>
        </div>
      </nav>
