<div class="box mb-2 d-flex flex-column justify-content-between">
  <img [src]="card.image" alt="">
  <div class=" d-flex flex-column justify-content-between p-2">
  <p class="title mt-3 mb-1">{{card.name}}</p>
  <span class="details">{{card.description}}</span>
  <div class="d-flex gap-2">
    <p class="fw-bolder ">الحالة : </p>
    <span class="status">{{card.status}}</span>
  </div>
  <a class="d-flex gap-2 workout">
    <p>اضافة تمرين</p>
    <img src="./assets/ArrowRight.svg" alt="">
  </a>
</div>
</div>
