<header class="d-flex gap-4">
  <a class="header-item d-flex gap-2 flex-wrap  p-2" routerLink="/" routerLinkActive="active"[routerLinkActiveOptions]="{ exact: true }">
    <img src="../../../../assets/document-text.svg" alt="">
    <p>المواد الدراسية</p>
  </a>
  <a class="header-item d-flex flex-wrap gap-2 p-2" routerLink="/Exercise" routerLinkActive="active"[routerLinkActiveOptions]="{ exact: true }">
    <img src="../../../../assets/document-text.svg" alt="">
    <p>كل التمارين</p>
  </a>
</header>
