<nav class="navbar header navbar-expand w-100">
  <div class="container w-100">
    <div
      class="container-fluid d-flex justify-content-between align-items-center">
      <div class="title">المواد</div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
          class="navbar-nav w-100 justify-content-end align-items-center me-auto mb-2 mb-lg-0">
          <li class="nav-item p-3">
            <div class="d-flex align-items-center gap-4">
              <a>
                <img src="../../../../assets/calendar-2.svg" alt>
              </a>
              <a>
                <img src="../../../../assets/message-question.svg" alt>
              </a>
              <a>
                <img src="../../../../assets/notification.svg" alt>
              </a>
            </div>
          </li>
          <li class="nav-item p-3 dropdown">
            <a class="nav-link" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <div class="d-flex gap-3">
                <img src="../../../../assets/Memoji.svg" alt>
                <div class="d-flex flex-column">
                  <p class="fw-bold">احمد سليان</p>
                  <p class="fw-small">معلم</p>
                </div>
                <img src="../../../../assets/arrow-down.svg" alt>
              </div>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">تسجيل الخروج</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
